doctype html
html
	head
		title First Node Project
		link(rel='stylesheet' href='/css/main.css')

	body
		.container
			block content
			br
			hr
			footer
				p Copyright & copy,2017


		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src='/js/main.js')
